.Rproj.user
.Rhistory
.RData
.Ruserdata
scratchpad.r
shrubshape_histogram_all_sage_using_190116.png
shrubshape_histogram_as_of_190116.png
inst/doc
jasons_report_260717.Rmd
example_indicator_plot_201117.png
example_catanalysis_output.csv
